{% extends "base.html" %}
{% block title %}{{text}}{% endblock %}
{% block content%}
<head>
  <title>{{ title }}</title>
</head>
<div class="container py-5">
  <h1>Все посты пользователя {{ author.get_full_name }} </h1>
  <h3>Всего постов: {{ post_counter }} </h3>
  {% for post in page_obj%}
  <article>
    <ul>
      <li>
        Автор: {{ author.get_full_name }}
        <p> <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a> </p>
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }} 
      </li>
    </ul>
    <p> {{post.text|linebreaksbr}} </p>
    <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
    {% if post.group.id != NULL %}  
    <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
    {% endif %}
    <hr>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  </article>
</div>
{% include 'includes/paginator.html' %}
{% endblock %}